@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Roboto+Mono:wght@300&display=swap');


/*

    font-family: 'Roboto Mono', monospace;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    */
$bg-sky: #4a59a3;
$bg-color-orange: orange;

$colores-redes: (
    facebook: #3b5998,
    twitter: #00acee,
    instagram: #C13584,
    youtube: #c4302b
);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 60.5%;
    header{
        nav{
            .container-fluid{
                .logo{}
                .button{}
                #menu{
                    ul{
                        li{
                            .flag{
                                width: 1.6em;
                                height: 1em;
                                background: #eee;
                                margin: .5em;
                                flex: none;
                                position: relative;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                            }
                            .usa {
                                box-shadow: 0 .111em red inset,
                                            0 .222em white inset,
                                            0 .333em red inset,
                                            0 .444em white inset,
                                            0 .555em red inset,
                                            0 .666em white inset,
                                            0 .777em red inset,
                                            0 .88em white inset,
                                            0 1em red inset;
                                &:before {
                                  top: 0;
                                  left: 0;
                                  content: "";
                                  position: absolute;
                                  background: blue;
                                  width: .8em;
                                  height: .55em;
                                }
                                &:after {
                                  content: "\2605";
                                  position: absolute;
                                  font-size: .15em;
                                  color: #fff;
                                  top: .2em;
                                  left: .2em;
                                  line-height: 1;
                                  text-shadow: 1em 0,
                                               2em 0,
                                               3em 0,
                                               4em 0,
                                               0 1em,
                                               1em 1em,
                                               2em 1em,
                                               3em 1em,
                                               4em 1em,
                                               0 2em,
                                               1em 2em,
                                               2em 2em,
                                               3em 2em,
                                               4em 2em;
                                }
                            }
                            .brasil {
                                background: #00923F;
                                &:after {
                                  position: absolute;
                                  content: "";
                                  width: .6em;
                                  height: .5em;
                                  background: yellow;
                                  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%,-50%) rotate(-30deg) skew(32deg) scale(1.3);
                                }
                                &:before {
                                  content: "";
                                  width: .4em;
                                  height: .4em;
                                  background: #0038A7;
                                  position: absolute;
                                  border-radius: 50%;
                                  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%,-50%);
                                  z-index: 10;
                                }
                            }
                            .spain {
                                box-shadow: 0 .33em red inset,
                                            0 .69em yellow inset,
                                            0 1em red inset;
                            }
                            .french{
                                box-shadow: .53em 0 rgb(0,85,164) inset,
                                1.06em 0 rgb(255,255,255) inset,
                                1.6em 0 rgb(239,65,53) inset;
                            }
                            @media(min-width: 900px){
                                span{
                                    display: none;
                                }
                            }
                              
                        }
                    }
                }
            }
        }
    }
    main{
        .animation__container{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            /* Para 800px */   
            /*
            height: auto;
            */
            .seccion{
                width: 100%;
                height: 100vh;
                position: absolute;
            }
            .seccion:nth-child(1){
                background: linear-gradient(to top, #45749c, $bg-sky);
                svg{
                    @media (max-width:1400px){
                        height: 150vh;
                    }

                    .logo{
                        background-color: #ffffff;
                        color: #c4302b;
                        font-size: 5rem;
                    }
                    text{
                        font-family: 'Roboto Mono', monospace;
                        font-size:2rem;
                        text-align:center;
                        
                    }
                    .presentation{
                        font-size:1rem;
                    }
                    .sky{

                    }
                    .rotate{
                        transform: scaleX(-1);
                    }
                    #hey{
                        font-size: 1.9rem;

                    }
                    .i_am {
                        font-size: 2rem;
                    }
                    .packer_rigger{
                        font-size: 3rem;
                        font-weight: 900;
                    }
                    @media(max-width: 900px){
                        #hey{
                            font-size: 0.8rem;
                            
                        }
                        .i_am {
                            font-size: 0.8rem;
                        }
                        .packer_rigger{
                            font-size: 2rem;
                        }
                    }
                      
                }
            }
            .seccion:nth-child(2){

            }
            .seccion:nth-child(3){
                background: linear-gradient(to bottom, #ffffff00 0%, #ffffff2a 10%, #ffffffd5 15%, #fffdfd 30%,  #fefefe 40%);
      //          background: linear-gradient(to top, $bg-sky, #ffffff00);
                .clouds_mask_1{
                    position: absolute;
                    top: -20;
                    left: -800;
                    max-width: 600px;
                    z-index: 10000;
                    animation: animateCloud 50s linear infinite;
                }
                .clouds_mask_2{
                    position: absolute;
                    top: -25;
                    left: -700px;
                    max-width: 500px;
                    z-index: 10000;
                    animation: animateCloud 35s linear infinite;      
                }
                .clouds_mask_3{
                    position: absolute;
                    top: -30px;
                    left: -500px;
                    max-width: 600px;

                    z-index: 10000;
                    animation: animateCloud 70s linear infinite; 
                    animation-delay: -20x;  
                }
                .clouds_mask_4{
                    position: absolute;
                    top: -50px;
                    left: -300px;
                    max-width: 700px;

                    z-index: 10000;
                    animation: animateCloud 70s linear infinite; 
                    animation-delay: -20x;  
                }
                .clouds_mask_5{
                    position: absolute;
                    top: -100px;
                    left: -100px;
                    max-width: 800px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -20x;  
                }
                .clouds_mask_6{
                    position: absolute;
                    top: -200px;
                    left: -0px;
                    max-width: 1000px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -20x;  
                }
                .clouds_mask_7{
                    position: absolute;
                    top: 0px;
                    left: 100px;
                    max-width: 800px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -15x;  
                }
                .clouds_mask_8{
                    position: absolute;
                    top: 0px;
                    left: 300px;
                    max-width: 900px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -16x;  
                }
                .clouds_mask_9{
                    position: absolute;
                    top: 0px;
                    left: 600px;
                    max-width: 600px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -14x;  
                }
                .clouds_mask_10{
                    position: absolute;
                    top: -100px;
                    left: 0px;
                    max-width: 600px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -14x;  
                }
                .clouds_mask_11{
                    position: absolute;
                    top: -150px;
                    left: 500px;
                    max-width: 600px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -14x;  
                }
                .clouds_mask_12{
                    position: absolute;
                    top: 200px;
                    left: 900px;
                    max-width: 900px;

                    z-index: 10000;
                    animation: animateCloud 80s linear infinite; 
                    animation-delay: -14x;  
                }
                @keyframes animateCloud {
                    0%{
                        transform: translateX(-100%) scale(1);
                    }
                    100%{
                        transform: translateX(400%) scale(1.5);

                    }
                    
                }
                .about_me{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: 20% auto;
                    
                }

                
            }
            .seccion:nth-child(4){
                background: linear-gradient(to top, #185197, #45739c); //background-color: rgba(2, 27, 164, 0.63);
                z-index: 2;
                .container{
                    .row{
                        
                        div{
                            min-width: 70%;
                            min-height: 70%;
                            .flag{
                                background-image: url(/assets/flag_1.png);
                                background-repeat: no-repeat;
                                background-position: center top; 
                                min-width: 100%;
                                min-height: 100%;
        
                            }

                        }
                    }

                }
                .clouds_animation_container{
                    #overlay {
                        position: absolute;
                        top: 50;
                        left: 0;
                        min-width: 100vw;
                        height: 100vh;
                        overflow: hidden;
                        -webkit-user-select: none;
                        z-index: 10;
                        img {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            -webkit-animation: clouds 80s ease infinite;
                            animation: clouds 80s ease infinite; 
                            z-index: 1;
                        }
                        .clouds-delay {
                            right: -0px;
                            -webkit-animation-delay: 20s;
                            animation-delay: 20s;
                        }
                        @-webkit-keyframes clouds {
            
                            0% {
                                -webkit-transform: translateX(0%);
                                transform: translateX(0%);
                            }
                                
                            100% {
                                -webkit-transform: translateX(-100%);
                                transform: translateX(-100%);
                                opacity: 0.7;
                            }
                            
                            }
                            
                            @keyframes clouds {
                            
                            0% {
                                -webkit-transform: translateX(0%);
                                transform: translateX(0%);
                            }
                                
                            100% {
                                -webkit-transform: translateX(-100%);
                                transform: translateX(-100%);
                                opacity: 0.7;
                            }
                            
                            }
                            
                    }
                    div{
                        color: #ffffff;
                        font-family: 'Roboto Mono', monospace;
                        position: absolute;
                        top: 50%;  
                        left: 50%; 
                        transform: translate(-50%, -50%);
                        min-width: 70%;
                    }
                }
            }

        }
    }
    footer{
        width: 100%;
        height: 100vh;
        background-color: #21282b;

    }
}





  
  


  
  