@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Roboto+Mono:wght@300&display=swap");
/*

    font-family: 'Roboto Mono', monospace;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 60.5%;
}
body header nav .container-fluid #menu ul li .flag {
  width: 1.6em;
  height: 1em;
  background: #eee;
  margin: 0.5em;
  flex: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body header nav .container-fluid #menu ul li .usa {
  box-shadow: 0 0.111em red inset, 0 0.222em white inset, 0 0.333em red inset, 0 0.444em white inset, 0 0.555em red inset, 0 0.666em white inset, 0 0.777em red inset, 0 0.88em white inset, 0 1em red inset;
}
body header nav .container-fluid #menu ul li .usa:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background: blue;
  width: 0.8em;
  height: 0.55em;
}
body header nav .container-fluid #menu ul li .usa:after {
  content: "★";
  position: absolute;
  font-size: 0.15em;
  color: #fff;
  top: 0.2em;
  left: 0.2em;
  line-height: 1;
  text-shadow: 1em 0, 2em 0, 3em 0, 4em 0, 0 1em, 1em 1em, 2em 1em, 3em 1em, 4em 1em, 0 2em, 1em 2em, 2em 2em, 3em 2em, 4em 2em;
}
body header nav .container-fluid #menu ul li .brasil {
  background: #00923F;
}
body header nav .container-fluid #menu ul li .brasil:after {
  position: absolute;
  content: "";
  width: 0.6em;
  height: 0.5em;
  background: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg) skew(32deg) scale(1.3);
}
body header nav .container-fluid #menu ul li .brasil:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  background: #0038A7;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
body header nav .container-fluid #menu ul li .spain {
  box-shadow: 0 0.33em red inset, 0 0.69em yellow inset, 0 1em red inset;
}
body header nav .container-fluid #menu ul li .french {
  box-shadow: 0.53em 0 rgb(0, 85, 164) inset, 1.06em 0 rgb(255, 255, 255) inset, 1.6em 0 rgb(239, 65, 53) inset;
}
@media (min-width: 900px) {
  body header nav .container-fluid #menu ul li span {
    display: none;
  }
}
body main .animation__container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* Para 800px */
  /*
  height: auto;
  */
}
body main .animation__container .seccion {
  width: 100%;
  height: 100vh;
  position: absolute;
}
body main .animation__container .seccion:nth-child(1) {
  background: linear-gradient(to top, #45749c, #185197);
}
@media (max-width: 1400px) {
  body main .animation__container .seccion:nth-child(1) svg {
    height: 150vh;
  }
}
body main .animation__container .seccion:nth-child(1) svg .logo {
  background-color: #ffffff;
  color: #c4302b;
  font-size: 5rem;
}
body main .animation__container .seccion:nth-child(1) svg text {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  text-align: center;
}
body main .animation__container .seccion:nth-child(1) svg .presentation {
  font-size: 1rem;
}
body main .animation__container .seccion:nth-child(1) svg .rotate {
  transform: scaleX(-1);
}
body main .animation__container .seccion:nth-child(1) svg #hey {
  font-size: 1.9rem;
}
body main .animation__container .seccion:nth-child(1) svg .i_am {
  font-size: 2rem;
}
body main .animation__container .seccion:nth-child(1) svg .packer_rigger {
  font-size: 3rem;
  font-weight: 900;
}
@media (max-width: 900px) {
  body main .animation__container .seccion:nth-child(1) svg #hey {
    font-size: 0.8rem;
  }
  body main .animation__container .seccion:nth-child(1) svg .i_am {
    font-size: 0.8rem;
  }
  body main .animation__container .seccion:nth-child(1) svg .packer_rigger {
    font-size: 2rem;
  }
}
body main .animation__container .seccion:nth-child(3) {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1647058824) 10%, rgba(255, 255, 255, 0.8352941176) 15%, #fffdfd 40%);
}
body main .animation__container .seccion:nth-child(4) {
  background: linear-gradient(to top, #185197, #45739c);
  z-index: 2;
}
body main .animation__container .seccion:nth-child(4) .container .row div {
  min-width: 70%;
  min-height: 70%;
}
body main .animation__container .seccion:nth-child(4) .container .row div .flag {
  background-image: url(/assets/flag_1.png);
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 100%;
  min-height: 100%;
}
body main .animation__container .seccion:nth-child(4) .clouds_animation_container #overlay {
  position: absolute;
  top: 50;
  left: 0;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  z-index: 10;
}
body main .animation__container .seccion:nth-child(4) .clouds_animation_container #overlay img {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-animation: clouds 80s ease infinite;
  animation: clouds 80s ease infinite;
  z-index: 1;
}
body main .animation__container .seccion:nth-child(4) .clouds_animation_container #overlay .clouds-delay {
  right: 0px;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0.7;
  }
}
@keyframes clouds {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0.7;
  }
}
body main .animation__container .seccion:nth-child(4) .clouds_animation_container div {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
}
body footer {
  width: 100%;
  height: 100vh;
  background-color: #21282b;
}

/*# sourceMappingURL=styles.css.map */
